[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pyyaml = "*"
uritemplate = "*"
dj-rest-auth = "*"
django-allauth = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.8"
